
/* .divNoSession{

    h4{
        font-size: 50px;
    }
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
} */

section.gabarit{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   

    article {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border : 1px solid #aaa;
    width : 20%;
    margin : 2%;
    padding  : 1rem;
    text-align : center;
    background-color: rgb(194, 236, 139);
    box-shadow: 5px 10px 15px rgb(102, 143, 48);
    
    p {
        display: none;
       
    }
    a {
        font-size: 1.5rem;
        font-weight: bold;
        writing-mode: vertical-rl;
        text-decoration: none;
    }

    
}
}


@include desktop {
   
    section.gabarit{
    
        justify-content: center;
        align-items: center;
    
        article {
   
        width : 31%;
        margin : 1%;
        padding  : 1rem;
        text-align : center;
      
        
        p {
            display: flex;
    
        }
        a {
           
            writing-mode: horizontal-tb;   
        }

    }
    }
}

@include tablet {

     section.gabarit{
     
         justify-content: center;
         align-items: center;
     
        article {
    
        width : 20%;
        margin : 1%;
        text-align : center;
       
         p {
             display: flex;
            }

         a {
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: none;
             writing-mode: horizontal-tb;   
         }
        }
     }
 }

 



/***** select section ******/

/* .sessionSelect{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border : 1px solid #aaa;
    width : 95%;
    margin : 1%;
    padding  : 1rem;
    text-align : center;
    background-color: red;
    p {
        margin: .4rem;
        font-size: 1rem;
    }
    a {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
    }
}

 */
